.wd-navbar #tweet-button {
    width: 100%;
    border-radius: 40px;
    margin-top: 10px;
}

.wd-iwt {
    display: block;
}

span.wd-span {
    background-color: white;
}

.wd-round-border {
    border-radius: 40px;
}

.wd-searchbar-width {
    width: 80%;
}

.wd-center-column img {
    margin: auto;
    display: block;
}

.wd-fit-image {
    width: 100%;
    object-fit: cover;
}

.wd-flex-display {
    display: flex;
    align-items: center;
}